@use 'base/variables' as v;
@use 'base/mixins' as m;
.acciones{

    
    color: v.$negro;
    margin-top: v.$separacion;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    @include m.tablet{

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        color:v.$negro;
        display: block;
    margin-bottom: calc(v.$separacion/2);
        text-align: center;
    }
}